*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
}

/*------------------ navigatio bar styles -------------------*/

nav{
    height: 72px;
    width:100%;
    background-color: #fff001;   
    fill: solid;
    box-shadow: 0px 10px 10px  rgba(100 100 100 / 0.3);
}

nav .logo{
    top: 21px;
    left: 120px; 
    position: absolute;
    width: 277px; 
    height: 30px;  
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

nav .logo img{
    width: 188px;
    height: 30px;
}

nav .logo p{
    grid-row: 2 / 1;
    grid-column: 2 / 2;
    width: 85px;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 12.8px;
    font-size: 16px;
    align-self:flex-end;
    color: #454648;
}

nav .menu{
    width: 393px;
    height: 46px;
    position: absolute;
    top: 13px;
    right: 120px;
    display: flex;
    flex-direction: row;
}

nav .menu ul{
    display: flex;
    gap: 24px;
    padding: 20px 20px 20px 20px;
    height: 46px;
    width: 176px;
}

nav .menu ul li{
    list-style-type: none;
    flex: 1;
    margin-top: -5px;
}

nav .menu ul li a{
    text-decoration: none;
    color: #000;
    line-height: 12.8px;
    font-family:  satoshi;
    font-size: 16px;
    font-weight: 400;
}

nav .menu ul li #current{
    text-decoration: underline;
    font-weight: 700;
}

nav .menu .ham{
    display: none;
    text-decoration: none;
    cursor: normal;
}

nav .menu button{
    width: 177px;
    height: 46px;
    border-radius: 90px;
    gap: 4px;
    border: 2px solid #000;
    background-color: #fff001;
}

nav .menu button span{
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.1%;
    align: center;
    vertical-align: top;
}

/*---------- navigation media queries --------*/

@media only screen and (max-width: 420px) {
    
    nav{
        margin-right: 0;
    }
    
    nav .menu ul {
        display: none;
    }
    
    nav .menu button {
        display: none;
    }

    nav .logo{
        top: 21px;
        left: 10px; 
        position: absolute;
        width: 275px; 
        height: 30px;  
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }

    nav .menu .ham{
        display: all;
    }
}

/*-------------- section1 styles --------------*/

.section1{
    width:100%;
    height:100vh;
    background-image: url("../images/union.svg");
    background-size: 100%;
    background-position: -50px -1100px;
    
}

.section1 h1{
    width: 100%;
    height: 180px;
    font-family:  satoshi;
    font-style: bold;
    font-size: calc(30px + (70 - 30)*((100vw - 320px)/(1920 - 320)));
    line-height: 90px;
    letter-spacing: -1.1%;
    text-align: center;
    padding-top: 80px;
}

.section1 .para1{
    width: 1138px;
    height: 64px;
    text-align: center;
    padding-top: 60px;
    font-family: satoshi;
    font-style: mixed;
    font-size: 23px;
    line-height: 34px;
    vertical-align: top;
    letter-spacing: -1.1%;
    margin: auto;
}

.section1 .para1 a{
    cursor: pointer;
}

.section1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
}

.section1 h2{
    width: 1133px;
    height: 49px;
    font-family: satoshi;
    font-style: bold;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    margin: auto;
}