*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

/*------------------ navigatio bar styles -------------------*/

nav{
    height: 72px;
    width:100%;
    background-color: #fff001;   
    fill: solid;
    box-shadow: 0px 10px 10px  rgba(100 100 100 / 0.3);
}

nav .logo{
    top: 21px;
    left: 120px; 
    position: absolute;
    width: 277px; 
    height: 30px;  
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

nav .logo img{
    width: 188px;
    height: 30px;
}

nav .logo p{
    grid-row: 2 / 1;
    grid-column: 2 / 2;
    width: 85px;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 12.8px;
    font-size: 16px;
    align-self:flex-end;
    color: #454648;
}

nav .menu{
    width: 393px;
    height: 46px;
    position: absolute;
    top: 13px;
    right: 120px;
    display: flex;
    flex-direction: row;
}

nav .menu ul{
    display: flex;
    gap: 24px;
    padding: 20px 20px 20px 20px;
    height: 46px;
    width: 176px;
}

nav .menu ul li{
    list-style-type: none;
    flex: 1;
    margin-top: -5px;
}

nav .menu ul li a{
    text-decoration: none;
    color: #000;
    line-height: 12.8px;
    font-family:  satoshi;
    font-size: 16px;
    font-weight: 400;
}

nav .menu ul li #current{
    text-decoration: underline;
    font-weight: 700;
}

nav .menu .ham{
    display: none;
    text-decoration: none;
    cursor: normal;
}

nav .menu button{
    width: 177px;
    height: 46px;
    border-radius: 90px;
    gap: 4px;
    border: 2px solid #000;
    background-color: #fff001;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.1%;
    align: center;
    vertical-align: top;
}

nav .menu button:hover{
    background-color: #000000;
    color: #fff001;
    transition: 1s;
    border:2px solid #ffee00;
}

nav .menu button span{
    font-size: 19px;
    font-weight:900;
    line-height: 100%;
    letter-spacing: -1.1%;
    align: center;
    vertical-align: top;
}

/*---------- navigation media queries --------*/

@media only screen and (max-width: 420px) {
    
    nav{
        margin-right: 0;
    }
    
    nav .menu ul {
        display: none;
    }
    
    nav .menu button {
        display: none;
    }

    nav .logo{
        top: 21px;
        left: 10px; 
        position: absolute;
        width: 275px; 
        height: 30px;  
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }

    nav .menu .ham{
        display: all;
    }
}

/*-------------- section1 styles --------------*/

.section1{
    width: 100%;
    height: 1249px;
    background-image: url("../images/union.svg");
    background-size: 100%;
    background-position: -50px -1100px;
    background-repeat: no-repeat;
}

.section1 h1{
    width: 100%;
    height: 180px;
    font-family:  'satoshi';
    font-style: bold;
    font-size: calc(30px + (70 - 30)*((100vw - 320px)/(1920 - 320)));
    line-height: 90px;
    letter-spacing: -1.1%;
    text-align: center;
    padding-top: 80px;
}

.section1 .para1{
    width: 1138px;
    height: 64px;
    text-align: center;
    padding-top: 60px;
    font-family: 'satoshi';
    font-style: mixed;
    font-size: 23px;
    line-height: 34px;
    vertical-align: top;
    letter-spacing: -1.1%;
    margin: auto;
}

.section1 .para1 a{
    cursor: pointer;
}

.section1 .para1 a .underline{
    font-family: 'satoshi';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
    letter-spacing: -1.1%;
    border-bottom: 2px solid black;
}

.section1 .para1 a .yunderline{
    border-bottom: 5px solid #fce041;
      background: 
       linear-gradient(90deg, #fce041, #fce041) 0 1em/100% 9px repeat-x; 
}

.section1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    width: 1000px;
    height: 524px;
}

.section1 .heading-sub{
    width: 1133px;
    height: 49px;
    font-family: satoshi;
    font-style: bold;
    font-size: 35px;
    line-height: 100%;
    text-align: center;
    margin: auto;
    vertical-align: top;
    letter-spacing: -1.1%;
    padding-top: 50px;
}

.section1 .para2{
    width: 754px;
    height: 64px;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-family: 'satoshi';
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.011em;
    color:#100F00;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 12px;
}

.section1 .ttu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    gap: 10px;
    border: none;
    background: #06BCC1;
    border-radius: 54px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 40px auto 0 auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #100F00;
}

.section1 .ttu:hover{
    background-color: rgb(0, 0, 0);
    transition: 2s;
    color: #06BCC1;
}

/*-------- Section1 queries -----------*/



/*------ section2 styles ---------*/

.section2{
    width: 100%;
    height: 91px;
    background-color: #000;
    isolation: isolate;
    gap: 10px;
    padding: 12px 150px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-image: url("../images/union1.svg");
    background-position: -50px -100px;
}

.section2 p{
    font-size: 19px;
    line-height: 27px;
    text-align: center;

}

.section2 ul{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.section2 ul li{
    list-style-type: none;
    padding: 15px; 
}

.section2 ul li img {
    margin-right: 5px;
    margin-bottom: -5px;
}

.section2 .lm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    gap: 10px;
    border: none;
    background: #06BCC1;
    border-radius: 54px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 40px auto 0 160px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #100F00;
    transform: translate(50% , -40%);
}

.section2 .lm:hover{
    background-color: #191919;
    color: #06BCC1; 
    transition: 0.8s;
}

/*----------- section2 queries --------------*/



/*----------- section3 styling --------------*/

.section3{
    width: 100%;
    height: 2082px;
    background-color: #fff;
    padding: 80px 150px;
    gap: 100px;
    isolation: isolate;
    flex: none;
    order: 2;
    margin: 0;
    padding: 0;
}

.section3 h1{
    width: 659px;
    height: 65px;
    margin: auto;
    vertical-align: top;
    font-family: 'satoshi';
    font-size: 46px;
    font-weight: 500;
    font-style: normal;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.011em;
    color: black;   
    padding-top: 80px;
}

.section3 h1 span{
  /*  background: linear-gradient(
        to bottom,
        transparent 50%,
        #fce041 50%
    ); */
    background: linear-gradient( 90deg, #fce041, #fce041) 0 0.6em/100% 20px repeat-x;
    font-family: 'satoshi';
    font-size: 46px;
    font-weight: 500;
    font-style: normal;
    line-height: 65px;
    letter-spacing: -0.011em;
}

.section3 h2{
    font-family: 'satoshi';
    font-weight: 100;
    font-style: normal;
    font-size: 35px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.011em;
    padding-top: 8px;
}

.section3 .sects{
    width: 1140px;
    height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 4;
    align-self: stretch;
    
    margin: 100px auto 0 auto;
}

.section3 .sects .sect{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    margin: 0 0 100px 0;
}

.section3 .sects .sect .textsect{
    width: 45%;
    height: 100%;
    
}

.section3 .sects .sect .imgsect{
    width: 45%;
    height: 100%;
    
}

.section3 .sects .sect .imgsect img{
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
}

/*------- sect1 styles -------------*/

.section3 .sects .sect1{
    border: none;
    padding-left: 30px;
}

.section3 .sects .sect1 .textsect{
    order: 1;
}

.section3 .sects .sect1 .imgsect{
    order: 2;
    margin-top: -80px;
}

.section3 .sects .sect1 .textsect .yellow{
    width: 254px;
    height: 48px;
    padding: auto;
    padding-top: 12px;
    background-color: #fff001;
    font-family: 'satoshi';
    font-weight: 100;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 16px;
}

.section3 .sects .sect1 .textsect .transparent{
    font-family: 'satoshi';
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    width: 391px;
    height: 64px;
    margin-bottom: 16px;
}

.section3 .sects .sect1 .textsect p{
    width: 519px;
    height: 160px;
    font-weight: 400;
    line-height: 32px;
}

/*------- sect2 styles -------------*/

.section3 .sects .sect2{
    border: none;
}

.section3 .sects .sect2 .textsect{
    order: 2;
}

.section3 .sects .sect2 .imgsect{
    order: 1;
    margin-left: -30px;
}

.section3 .sects .sect2 .textsect .yellow{
    width: 344px;
    height: 48px;
    padding: auto;
    padding-top: 12px;
    background-color: #fff001;
    font-family: 'satoshi';
    font-weight: 300;
    font-size: 22.5px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 16px;
}

.section3 .sects .sect2 .textsect .grey{
    width: 324px;
    height: 48px;
    padding: auto;
    padding-top: 12px;
    background-color: #C5D8D1;
    font-family: 'satoshi';
    font-weight: 300;
    font-size: 22.5px;
    line-height: 32.4px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 16px;
}

.section3 .sects .sect2 .textsect .transparent{
    font-family: 'satoshi';
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    width: 541px;
    height: 64px;
    margin-bottom: 16px;
}

.section3 .sects .sect2 .textsect p{
    width: 519px;
    height: 160px;
    font-weight: 400;
    line-height: 32px;
}

/*------- sect3 styles -------------*/

.section3 .sects .sect3 .textsect{
    order: 1;
}

.section3 .sects .sect3 .imgsect{
    order: 2;
}

.section3 .sects .sect3{
    margin: 0 0 0 0;
    border: none;
}

.section3 .sects .sect3 .textsect .yellow{
    width: 404px;
    height: 80px;
    padding: auto;
    padding-top: 12px;
    background-color: #fff001;
    font-family: 'satoshi';
    font-weight: 300;
    font-size: 22.5px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 16px;
}

.section3 .sects .sect3 .textsect .transparent{
    font-family: 'satoshi';
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    width: 541px;
    height: 64px;
    margin-bottom: 46px;
}

.section3 .sects .sect3 .textsect p{
    width: 519px;
    height: 160px;
    font-weight: 400;
    line-height: 32px;
}

/*--------- section4 styles --------------*/

.section4{
    width: 100vw;
    height: 540px;
    background-color: #06bcc1;
    gap: 50px;

}

.section4 h1{
    width: 471px;
    height: 65px;
    margin: 0 auto 8px auto;
    padding-top: 80px;
    font-weight: 500;
    font-size: 40px;
    line-height: 65px;
    padding-bottom: 8px;
    text-align: center;
}

.section4 h2{
    width: 921px;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
    padding-left: 10px;
    margin-bottom: 50px;
}

.section4 .diff{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 56px;
    width: 1142px;
    height: 207px;
    margin-left: auto;
    margin-right: auto;
}

.section4 .diff .elem1{
    width: 264px;
    height: 100%;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.section4 .diff .elem .imgbox{
    max-width: 100%;
    max-height: 100%;
    margin: 0px auto auto auto;
}

.section4 .diff .elem h3{
    width: 264px;
    font-weight: 400;
    font-size: 28px;
    text-align: center;
    line-height: 49px;
}

.section4 .diff .elem2{
    width: 264px;
    height: 100%;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}

.section4 .diff .elem3{
    width: 264px;
    height: 100%;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;
}

.section4 .diff .elem4{
    width: 264px;
    height: 100%;
    gap: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section4 h1 span{
    background: linear-gradient( 90deg, #fce041, #fce041) 0 0.6em/100% 20px repeat-x;
}

/*--------- section4 queries -----------*/



/* --------------- section5 styles --------------- */

.section5{
    width: 100vw;
    height: 940px;
    background-color: #000;
    color: #fff;
    background-image: url("../images/union1.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 70% 50%;
}

.section5 h1{
    width: 858px;
    height: 65px;
    font-weight: 500;
    font-size: 40px;
    line-height: 64px;
    text-align: center;
    color: #fcfbf3;
    margin: 0 auto;
    padding-bottom: 8px;
    padding-top: 80px;
}

.section5 h1 span{
    background: linear-gradient( 90deg, #c9b22e, #c9b22e) 0 0.8em/100% 10px repeat-x;
}

.section5 p{
    width: 921px;
    height: 64px;
    font-family: 300;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin: auto auto;
    padding: 0px auto 40px auto;
}

.section5 .prgstages{
    width: 1142px;
    height: 457px;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
    padding-bottom: 40px;
    z-index: 3;
}

.section5 .prgstages .stage{
    width: 354px;
    height: 457px;
    background-color: #000;
    border: 0.1px solid rgb(148, 148, 148);
}

.section5 .prgstages .stage img{
   display: block;
   margin: 40px auto 20px auto;
}

.section5 .prgstages .stage h3{
    height: 32px;
    font-weight: 800;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    margin: 0 auto 20px auto;
}

.section5 .prgstages .stage ul{
    width: 275px;
    margin: 0 auto auto auto;
    padding-left: 24px; 
}

.section5 .prgstages .stage ul li{
    padding-bottom: 8px;
    line-height: 30px;
}

.section5 h4{
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    width: 100%;
    text-align: center;
}

.section5 button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    gap: 10px;
    border: none;
    background: #06BCC1;
    border-radius: 54px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px auto 0 auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #100F00;
}

.section5 button:hover{
    color:#06BCC1;
    background-color: #242424;
    cursor: pointer;
    transition: 0.8s;
}
/*--------- section5 queries ------------*/



/*------------------- section6 styles  -----------------------*/

.section6{
    width: 100vw;
    height: 599px;
    background-color: #fff001;
    background-image: url("../logos/quote-1-traced.svg");
    background-repeat: no-repeat;
    background-size: 488px;
    background-position: 0% 30%;
    padding-top: 70px;
    position: relative;
}

.section6 h1{
    width: 570px;
    height: 130px;
    display: block;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    margin: 0 auto;
}

.section6 h1 span{
    background: linear-gradient( 90deg, #fcfbf3, #fcfbf3) 0 0.8em/100% 10px repeat-x;

}

.section6 .commentbox{
    width: 920px;
    height: 285px;
    margin: 24px auto;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 148px;
}

.section6 .commentbox img{
    margin: 16px;
}

.section6 .commentbox .comment{
    width: 634px;
    height: 185px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.section6 .commentbox .comment p{
    width: 607px;
    height: 96px;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    margin: 10px;
    padding-right: 16px;
}

.section6 .commentbox .comment p b{
    font-size: 18px;
}

.section6 .commentbox .comment audio{
    margin-top: 25px;
}

.section6 .navigation{
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    padding-top: 0;
    display: block;
}

.section6 .left img{
    display: block;
    margin: 7px 12px;
}

.section6 .left{
    left: 350px;
    top: 354px;
}

.section6 .right{
    right: 350px;
    top: 354px;
}

.section6 .right img{
    display: block;
    margin: 7px 16px;
}

.section6 .navigation:hover{
    border: 1px solid #fce041;
    color:#fce041;
    background-color: #fff;
    transition: 0.5s;
}

/*--------- section6 queries --------*/



/*------------ section7 styles ----------*/

.section7{
    width: 100vw;
    height: 1000px;
    background-color: #000;
}

/*----------- section7 queries -----------*/

/*--------- section8 styles ------------*/

.section8{
    width: 100vw;
    height: 567px;
    background-color: #c5d8d1;
}

.section8 h1{
    width: 560px;
    height: 76px;
    margin: 0 auto;
    font-size: 48px;
    line-height: 75px;
    text-align: center;
    margin-bottom: 48px;
    padding-top: 80px;
}

.section8 h1 span{
    background: linear-gradient( 90deg, #fce041, #c9b22e) 0 0.8em/100% 10px repeat-x;

}

.section8 .podcasts{
    width: 1140px;
    height: 283px;
    gap: 24px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 0 auto;
}

.section8 .podcasts .podcast{
    width: 364px;
    height: 100%;
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section8 .podcasts .podcast video{
    width: 100%;
    height: 240px;
}

.section8 .podcasts .podcast p{
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 10px auto auto 2px;
}

/*---------- section9 styles ------------*/

.section9{
    width: 100vw;
    height: 950px;
    background-color: #fff;
}

.section9 h1{
    width: 629px;
    height: 65px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 60px;
    margin: 0 auto 8px auto;
    padding-top: 80px;
}

.section9 h1 .span{
    background: linear-gradient( 90deg, #fce041, #c9b22e) 0 0.8em/100% 10px repeat-x;
}

.section9 .p1{
    width: 921px;
    height: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin:  0 auto 20px auto;;
}

.section9 .scrollhide{
    width: calc(100vw - 150px);
    height: 650px;
    margin-left: 150px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.section9 .scrollhide .slider{
    width: 100%;
    height: 700px;
    overflow-y: hidden;
    
}
.section9 .scrollhide .slider .slidecanvas{
    width: 3500px;
    height: 120%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-right: 200px;
    gap: 40px;
}

.section9 .scrollhide .slider .slidecanvas .slide{
    width:650px;
    height: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
 
.section9 .scrollhide .slider .slidecanvas .slide img{
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.section9 .scrollhide .slider .slidecanvas .slide ul{
    margin-left: 48px;
}

.section9 .scrollhide .slider .slidecanvas .slide ul li{
    list-style-type: none;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}

.section9 .scrollhide .slider .slidecanvas .slide ul li:before{
    
    content: ""; /* add empty content */
    display: inline-block; /* set the display to inline-block */
    width: 12px; /* set the width of the image */
    height: 12px; /* set the height of the image */
    margin-right: 10px; /* add some margin to the right of the image */
    vertical-align: middle; /* align the image with the middle of the text */
    background-image: url("../images/vector3.svg"); /* add the image as a background */
    background-size: contain; /* set the background size to contain */
    background-repeat: no-repeat; /* prevent the background from repeating */
    
}

.section9 .scrollhide .slider .slidecanvas .slide h3{
    font-size: 22px;
    font-weight: 800;
    line-height: 30px;
    margin: 0 auto 20px auto;
}

.section9 .scrollhide .slider .slidecanvas .slide p{
    width: 400px;
    height: auto;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin:5px auto 0 auto;
}

/*--------------- section10 styles --------*/

.section10{
    width: 100vw;
    height: 932px;
    background-color: #fff;
}

/*------ footer styles ---------*/

footer{
    width: 100vw;
    height: 250px;
    background-color: #454648;
    color: white;
    position: relative;
}

footer .content{
    width: 1200px;
    height: 166px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
}

footer .content .lcfb{
    width: 100%;
    height: 118px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .content .lcfb .element1{
    width: 281px;
    height: 118px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 42px;
}

footer .content .lcfb .element1 img{
    width: 182px;
    height: 48.06px;
}


footer .content .p{
    width: 100px;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    margin-left: auto;
    margin-right: auto;
}

footer .content p{
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
}

footer .content h2{
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    width: 125px;
    height: 24px;
}

footer .content .lcfb .element1 p{
    margin-left: 0px;
    width: 140px;
}

footer .content .lcfb .element2{
    width: 297px;
    height: 98px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}

footer .content .lcfb .element3{
    width: 180px;
    height: 86;
    margin-top: 20px;
    gap: 24px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer .content .lcfb .element3 ul{
    list-style-type: none;
    width: 180px;
    height: 38px;
}

footer .content .lcfb .element3 ul li{
    gap: 8px;
    display: inline-block;
    padding-right: 20px;
}

footer .content .lcfb .element3 ul li a{
    text-decoration: none;
    color: white;
    
}

footer .content .lcfb .element3 ul li a:hover{
    color: #c9b22e;
}

footer .content .lcfb .element4{
    width: 220px;
    height: 96px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer .content .lcfb .element4 h2{
    width: 220px;
    margin-top: 20px;
}

footer .content .lcfb .element4 button{
    width: 132px;
    height: 48px;
    border-radius: 90px;
    gap: 4px;
    border: 1px solid #151515;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -1.1%;
    align: center;
    padding: 12px 0px;
}

footer .content .lcfb .element4 button:hover{
    border-color: white;
    background-color: #fff;
    color: black;
    transition: 1s;
}
footer .bg-foot{
    position: absolute;
    transform: translate(75% , 90%);
}