*{
    margin: 0;
    padding: 0;
    overflow-x: ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

/*------------------ navigatio bar styles -------------------*/

nav{
    height: 72px;
    width:100%;
    background-color: #fff001;   
    fill: solid;
    box-shadow: 0px 10px 10px  rgba(100 100 100 / 0.3);
}

nav .logo{
    top: 21px;
    left: 120px; 
    position: absolute;
    width: 277px; 
    height: 30px;  
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
}

nav .logo img{
    width: 188px;
    height: 30px;
}

nav .logo p{
    grid-row: 2 / 1;
    grid-column: 2 / 2;
    width: 85px;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 12.8px;
    font-size: 16px;
    align-self:flex-end;
    color: #454648;
}

nav .menu{
    width: 393px;
    height: 46px;
    position: absolute;
    top: 13px;
    right: 120px;
    display: flex;
    flex-direction: row;
}

nav .menu ul{
    display: flex;
    gap: 24px;
    padding: 20px 20px 20px 20px;
    height: 46px;
    width: 176px;
}

nav .menu ul li{
    list-style-type: none;
    flex: 1;
    margin-top: -5px;
}

nav .menu ul li a{
    text-decoration: none;
    color: #000;
    line-height: 12.8px;
    font-family:  satoshi;
    font-size: 16px;
    font-weight: 400;
}

nav .menu ul li #current{
    text-decoration: underline;
    font-weight: 700;
}

nav .menu .ham{
    display: none;
    text-decoration: none;
    cursor: normal;
}

nav .menu button{
    width: 177px;
    height: 46px;
    border-radius: 90px;
    gap: 4px;
    border: 2px solid #000;
    background-color: #fff001;
    font-size: 14px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: -1.1%;
    align: center;
    vertical-align: top;
}

nav .menu button:hover{
    background-color: #000000;
    color: #fff001;
    transition: 1s;
    border:2px solid #ffee00;
}

nav .menu button span{
    font-size: 19px;
    font-weight:900;
    line-height: 100%;
    letter-spacing: -1.1%;
    align: center;
    vertical-align: top;
}

/*---------- navigation media queries --------*/

@media only screen and (max-width: 420px) {
    
    nav{
        margin-right: 0;
    }
    
    nav .menu ul {
        display: none;
    }
    
    nav .menu button {
        display: none;
    }

    nav .logo{
        top: 21px;
        left: 10px; 
        position: absolute;
        width: 275px; 
        height: 30px;  
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto;
    }

    nav .menu .ham{
        display: all;
    }
}

/*-------------- section1 styles --------------*/

.section1{
    width: 100%;
    height: 1249px;
    background-image: url("../images/union.svg");
    background-size: 100%;
    background-position: -50px -1100px;
    background-repeat: no-repeat;
}

.section1 h1{
    width: 100%;
    height: 180px;
    font-family:  'satoshi';
    font-style: bold;
    font-size: calc(30px + (70 - 30)*((100vw - 320px)/(1920 - 320)));
    line-height: 90px;
    letter-spacing: -1.1%;
    text-align: center;
    padding-top: 80px;
}

.section1 .para1{
    width: 1138px;
    height: 64px;
    text-align: center;
    padding-top: 60px;
    font-family: 'satoshi';
    font-style: mixed;
    font-size: 23px;
    line-height: 34px;
    vertical-align: top;
    letter-spacing: -1.1%;
    margin: auto;
}

.section1 .para1 a{
    cursor: pointer;
}

.section1 .para1 a .underline{
    font-family: 'satoshi';
    font-style: bold;
    font-weight: 700;
    font-size: 23px;
    line-height: 34px;
    letter-spacing: -1.1%;
    border-bottom: 2px solid black;
}

.section1 .para1 a .yunderline{
    border-bottom: 5px solid #fce041;
      background: 
       linear-gradient(90deg, #fce041, #fce041) 0 1em/100% 9px repeat-x; 
}

.section1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 45px;
    width: 1000px;
    height: 524px;
}

.section1 .heading-sub{
    width: 1133px;
    height: 49px;
    font-family: satoshi;
    font-style: bold;
    font-size: 35px;
    line-height: 100%;
    text-align: center;
    margin: auto;
    vertical-align: top;
    letter-spacing: -1.1%;
    padding-top: 50px;
}

.section1 .para2{
    width: 754px;
    height: 64px;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-family: 'satoshi';
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.011em;
    color:#100F00;
    flex: none;
    order: 1;
    flex-grow: 0;
    padding-top: 12px;
}

.section1 .ttu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    gap: 10px;
    border: none;
    background: #06BCC1;
    border-radius: 54px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 40px auto 0 auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #100F00;
}

.section1 .ttu:hover{
    background-color: rgb(0, 0, 0);
    transition: 2s;
    color: #06BCC1;
}

/*-------- Section1 queries -----------*/



/*------ section2 styles ---------*/

.section2{
    width: 100%;
    height: 91px;
    background-color: #000;
    isolation: isolate;
    gap: 10px;
    padding: 12px 150px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-image: url("../images/union1.svg");
    background-position: -50px -100px;
}

.section2 p{
    font-size: 19px;
    line-height: 27px;
    text-align: center;

}

.section2 ul{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.section2 ul li{
    list-style-type: none;
    padding: 15px; 
}

.section2 ul li img {
    margin-right: 5px;
    margin-bottom: -5px;
}

.section2 .lm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 40px;
    gap: 10px;
    border: none;
    background: #06BCC1;
    border-radius: 54px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 40px auto 0 160px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #100F00;
    transform: translate(50% , -40%);
}

.section2 .lm:hover{
    background-color: #191919;
    color: #06BCC1; 
    transition: 0.8s;
}

/*----------- section2 queries --------------*/



/*----------- section3 styling --------------*/

.section3{
    width: 100%;
    height: 2082px;
    background-color: #fff;
    padding: 80px 150px;
    gap: 100px;
    isolation: isolate;
    flex: none;
    order: 2;
    margin: 0;
    padding: 0;
}

.section3 h1{
    width: 659px;
    height: 65px;
    margin: auto;
    vertical-align: top;
    font-family: 'satoshi';
    font-size: 46px;
    font-weight: 500;
    font-style: normal;
    line-height: 65px;
    text-align: center;
    letter-spacing: -0.011em;
    color: black;   
    padding-top: 80px;
}

.section3 h1 span{
  /*  background: linear-gradient(
        to bottom,
        transparent 50%,
        #fce041 50%
    ); */
    background: linear-gradient( 90deg, #fce041, #fce041) 0 0.6em/100% 20px repeat-x;
    font-family: 'satoshi';
    font-size: 46px;
    font-weight: 500;
    font-style: normal;
    line-height: 65px;
    letter-spacing: -0.011em;
}

.section3 h2{
    font-family: 'satoshi';
    font-weight: 100;
    font-style: normal;
    font-size: 35px;
    line-height: 49px;
    text-align: center;
    letter-spacing: -0.011em;
    padding-top: 8px;
}

.section3 .sects{
    width: 1140px;
    height: 1700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    z-index: 4;
    align-self: stretch;
    
    margin: 100px auto 0 auto;
}

.section3 .sects .sect{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid black;
    margin: 0 0 100px 0;
}

.section3 .sects .sect .textsect{
    width: 45%;
    height: 100%;
    
}

.section3 .sects .sect .imgsect{
    width: 45%;
    height: 100%;
    
}

.section3 .sects .sect .imgsect img{
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
}

/*------- sect1 styles -------------*/

.section3 .sects .sect1 .textsect{
    order: 1;
}

.section3 .sects .sect1 .imgsect{
    order: 2;
}

.section3 .sects .sect1 .textsect .yellow{
    width: 254px;
    height: 48px;
    padding: auto;
    padding-top: 12px;
    background-color: #fff001;
    font-family: 'satoshi';
    font-weight: 100;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
}

.section3 .sects .sect1 .textsect .transparent{

}

/*------- sect2 styles -------------*/

.section3 .sects .sect2 .textsect{
    order: 2;
}

.section3 .sects .sect2 .imgsect{
    order: 1;
}

/*------- sect3 styles -------------*/

.section3 .sects .sect3 .textsect{
    order: 1;
}

.section3 .sects .sect3 .imgsect{
    order: 2;
}

.section3 .sects .sect3{
    margin: 0 0 0 0;
}
